{{ define "main" }}
<style>
    .hx-review-image {
        width: 40px;
        height: 40px;
    }

    .hx-logo {
        width: 100px;
        height: 100px;
    }

    .hx-min-h-component {
        min-height: calc(60vh - var(--navbar-height));
    }

    .hx-max-w-component {
        max-width: max(60%, 600px);
        margin: 0 auto;
    }

</style>
<div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }} hx-text-center'>
  {{ partial "sidebar.html" (dict "context" . "disableSidebar" true
  "displayPlaceholder" false) }} 
  <article
    class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]"
  >
    <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
      {{ if .Title }}
      <h1
        class="hx-text-center hx-mt-2 hx-text-4xl hx-font-bold hx-tracking-tight hx-text-slate-900 dark:hx-text-slate-100"
      >
        {{ .Title }}
      </h1>
      {{ end }}
      <div class="content">{{ .Content }}</div>

      <div class="hx-flex hx-gap-2 hx-items-center hx-justify-center hx-flex-col hx-mb-12 hx-mt-12 hx-min-h-component hx-max-w-component" >
        <div class="hx-logo hx-bg-gray-100 hx-rounded-full hx-p-2 "></div>
        <h1 class="hx-text-4xl hx-font-bold hx-tracking-tight hx-text-slate-900 dark:hx-text-slate-100">Vertexcover Labs</h1>
        <p class="hx-text-gray-500 dark:hx-text-gray-400 hx-text-xl">We are a boutique software engineering firm, with a proven track record of rapidly delivering high-quality software systems tailored to meet evolving business objectives</p>
      </div>


      <div class="hx-flex hx-gap-2 hx-items-center hx-justify-center hx-flex-col hx-mb-12 hx-max-w-component" >
      
        <h1 class="hx-text-4xl hx-font-bold hx-tracking-tight hx-text-slate-900 dark:hx-text-slate-100">What we do</h1>
        <hr class="dark:hx-border-neutral-800 " />
        <p class="hx-text-gray-500 dark:hx-text-gray-400">
            At Vertexcover, we're a close-knit ensemble of engineers with a relentless focus on impact we have on our client’s business. Our drive comes from solving tough problems with reliable, maintainable and efficient software . We love to partner with companies who've found their product market fit and are ready to take their products from good to great, no matter the tech stack.
            We are language and platform agnostic and have experience working with Python, Go, Typescript, Javascript, Kotlin, OCaml and ReasonML, ensuring we always have the right tool for the task at hand. For us, writing software is an art, dictated not by the language, but by the craft and principles behind it.</p>
            <a
              href="/"
              class="not-prose hx-font-medium hx-cursor-pointer hx-px-6 hx-py-3 hx-rounded-full hx-text-center hx-text-white hx-inline-block hx-bg-primary-600 hover:hx-bg-primary-700 focus:hx-outline-none focus:hx-ring-4 focus:hx-ring-primary-300 dark:hx-bg-primary-600 dark:hover:hx-bg-primary-700 dark:focus:hx-ring-primary-800 hx-transition-all hx-ease-in hx-duration-200 hx-mt-4"
            >
              Hire Us
            </a>
      </div>




      <section class="hx-mt-12">
        <div
          class="hx-mx-auto hx-max-w-screen-xl "
        >
          <h2
            class="hx-text-center hx-text-4xl hx-font-bold hx-tracking-tight hx-text-gray-900 sm:hx-text-5xl hx-mb-6 dark:hx-text-gray-100"
          >
            {{ .Site.Data.review.title }}
          </h2>

          <div class="hx-grid hx-grid-cols-1 hx-gap-6 sm:hx-grid-cols-2 lg:hx-grid-cols-3">
            {{ range .Site.Data.review.reviews }}
            <div class="hx-rounded-lg hx-bg-gray-50 hx-shadow-xs hx-bg-gray-100 hx-mx-2 hx-my-2 hx-p-4 dark:hx-bg-neutral-900">
            
                        <div class="hx-flex hx-gap-2">

                            <img src="{{ .image }}" alt="{{ .name }}" class="hx-review-image hx-rounded-full">
                            <div>
                                <p class="hx-text-sm hx-font-medium">{{ .name }}</p>
                                <div class="hx-flex hx-gap-0.5 hx-text-green-500 ">
                                    {{ range (seq .rating) }}
                                    <span >★</span>
                                    {{ end }}
                                  </div>
                            </div>
                        </div>

                        
               
             
              <div class="hx-mt-4 hx-text-gray-700 dark:hx-text-gray-300">
                <p>{{ .review }}</p>
              </div>
            </div>
            {{ end }}
          </div>
          </div>
        </div>
      </section>

      <div class="hx-flex hx-gap-2 hx-items-center hx-justify-center hx-flex-col hx-mb-12 hx-mt-12" >


          <a
                  href="/"
                  class="not-prose hx-font-medium hx-cursor-pointer hx-px-6 hx-py-3 hx-rounded-full hx-text-center hx-text-white hx-inline-block hx-bg-primary-600 hover:hx-bg-primary-700 focus:hx-outline-none focus:hx-ring-4 focus:hx-ring-primary-300 dark:hx-bg-primary-600 dark:hover:hx-bg-primary-700 dark:focus:hx-ring-primary-800 hx-transition-all hx-ease-in hx-duration-200 hx-mt-4"
                >
                  Hire Us
                    </a>
      </div>
    </main>
  </article>
</div>
{{ end }}
